.banner {
  display: flex;
  flex-direction: row;
}

/**************************************** banner Left  ****************************************/

.banner__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.banner__content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.banner__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.banner__content-input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}



/**************************************** banner Right  ****************************************/
.banner__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**************************************** Media Query  ****************************************/
@media screen and (max-width:1080px) {
  .banner {
    flex-direction: column;
  }

  .banner-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .banner__content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .banner__content p {
    font-size: 16px;
    line-height: 24px;
  }

  .banner__content-people {
    flex-direction: column;
  }

  .banner__content-people p {
    margin: 0;
    padding-bottom: 1rem;
  }

  .banner__content-input input,
  .banner__content-input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .banner__content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .banner__content p {
    font-size: 14px;
    line-height: 24px;
  }

  .banner__content-input input,
  .banner__content-input button {
    font-size: 12px;
    line-height: 16px;
  }
}