.scroll-btn {
  position: fixed;
  width: 100%;
  left: 95%;
  bottom: 70px;
  height: 20px;
  font-size: 2rem;
  z-index: 999;
  cursor: pointer;
  color: #eb3de2;
}

@media screen and (max-width: 576px) {
  .scroll-btn {
    left: 90%;
  }
}
