@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-bg: linear-gradient(89.97deg, #1a4064 1.84%, #972d92 102.67%);
  --gradient-text: linear-gradient(89.97deg, #0a89ff 1.84%, #eb3de2 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #0a89ff -13.86%, #ed42e5 99.55%);
  
  

  --color-bg: #07071C;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}



@media only screen and (max-width: 576px) {}