.offer__container {
  background-color: #121228;
  background-image: url("../../../assets/offerBg.png");
  background-position: bottom left;
  background-size: 50% 300px, cover;
  background-repeat: no-repeat;
}

.offer__gradient-bg {
  opacity: 1;
  background-color: transparent;
  background-image: linear-gradient(180deg, #07071C 0%, #12122840 100%);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media only screen and (max-width:1500px) {
  .offer__container {
    background-size: 48% 250px, cover;
  }
}

@media only screen and (max-width:1280px) {
  .offer__container {
    background-size: 45% 240px, cover;
  }
}

@media only screen and (max-width:1023px) {
  .offer__container {
    background-color: #121228;
    background-image: none;
  }
}